@import '../app/styles/tokens.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    font-size: var(--font-size);
  }

  :where(h1, h2, h3, h4, dt, dd, p, button, a, label) {
    margin: 0;
    color: inherit;
    font: inherit;
  }

  :where(button, a) {
    text-decoration: none;
  }
}
